/* body {
    background-color: gray;
} */

/* h1 {
    color: yellow;
    background-color: red;
}

button {
    background-color: pink;
    color: bisque;
} */

/* .box {
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
} */

.para {
    color: blue;
}


.newClass {
    background-color: yellow;
}
